footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    
    bottom: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  p {
    margin: 0;
  }
  